.rp-wrapper {
	position: fixed;
	z-index: 1000;
	left: 0;
	bottom: 0;
	height: 215px;
	width: 100%;
	font-family: helvetica, sans-serif;
	background: rgba(0,0,0,0.7);
	text-align: left;
}

.rp-pressed { opacity:0.4; }

.rp-slots-wrapper {
	position: absolute;
	left: 0; right: 0; top: 0; z-index:999;
	display: block;
	height: 215px;
	padding: 0 11px;
	overflow: hidden;
}

.rp-slots {
	display: table;
	width: 100%;
	background: #fcfcfc;
}

.rp-slots div {
	display: table-cell;
	height: 100%;
	padding-top: 86px;
	border-left: 2px solid #0d0e0f;
	background-color: #fcfcfc;
	background-image: url(./img/rp-slot-border.png);
	background-position: 0 0, 100% 0;
	background-repeat: repeat-y;
}

.rp-slots div:first-child { border:0; }

.rp-slots ul {
	padding: 0 0 85px 0; margin:0;
	list-style: none;
}

.rp-slots .rp-right { text-align: right; }
.rp-slots .rp-shrink { width: 1%; }
.rp-slots .rp-readonly { background: #ddd; }

.rp-slots li {
	padding: 0 8px;
	height: 4 4px;
	overflow: hidden;
	font: bold 24px/44px Helvetica,sans-serif;
}

.rp-frame {
	position: absolute; z-index:1000;
	left: 0; right: 0; top: 0;
	height:183px;
	border-width:16px;
	-webkit-border-image:url(./img/rp-alpha.png) 16;
}
