<div class="sw-wrapper">
  <div class="sw-header">
    <div class="sw-cancel">Cancel</div>
    <div class="sw-done">Done</div>
  </div>
  <div class="sw-slots-wrapper">
    <div class="sw-slots">
    {{#each slots}}
      <div class="sw-{{style}}">
        <ul class="picker-slot-{{@key}}">
          {{#each values}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
    </div>
  </div>
  <div class="sw-frame"></div>
  </div>
</div>
