<div class="holder">
  <h2>ribcage-picker</h2>
  <iframe src="http://ghbtns.com/github-btn.html?user=ben-ng&repo=ribcage-picker&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
  <p>
    <h3>Change these values!</h3>
    <span class="quantity">{{quantity}}</span> from <span class="unit">{{unit}}</span>
  </p>
  <div class="spinholder"></div>
  <p>
    <h3>What To Expect</h3>
    <ul>
      <li>Desktop browsers will see regular dropdown boxes.</li>
      <li>iOS or Android devices will get a touch-optimized slotpicker when the dropdown boxes are tapped.</li>
      <li>Webkit users can turn on touch emulation in their dev tools and refresh to try out the touch interface.</li>
    </ul>
  </p>
  <p>
    <h3>How Do I Use This?</h3>
    <a href="https://github.com/ben-ng/ribcage-picker">Documentation is on GitHub</a>.
  </p>
</div>
