<div class="holder">
  <h2>ribcage-picker</h2>
  <iframe src="http://ghbtns.com/github-btn.html?user=ben-ng&repo=ribcage-picker&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
  <p>
    Try me on your iOS or Android device, then <a href="https://github.com/ben-ng/ribcage-picker">read the docs</a>.
  </p>
  <a href="#" class="pick">Open Picker</a>
  <p>
    <strong>Currently Selected:</strong> {{quantity}} from {{unit}}
  </p>
</div>
<div class="spinholder"></div>
