<div class="holder">
  <h2>ribcage-picker</h2>
  <iframe src="http://ghbtns.com/github-btn.html?user=ben-ng&repo=ribcage-picker&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
  <p>
    I'll work best on your iOS or Android device. <a href="https://github.com/ben-ng/ribcage-picker">Read the source, Luke</a>.
  </p>
  <p>
    <strong>Currently Selected:</strong> <span class="quantity">{{quantity}}</span> from <span class="unit">{{unit}}</span>
  </p>
</div>
<div class="spinholder"></div>
