<div class="holder">
  <h2>ribcage-picker</h2>
  <p>
    Open me on your iOS or Android device.
  </p>
  <a href="#" class="pick">Open Picker</a>
  <p>
    <strong>Currently Selected:</strong> {{quantity}} from {{unit}}
  </p>
</div>
<div class="spinholder"></div>
